@import 'fonts';
@import 'mixins';
@import 'owlCarousel';

body {
	font-family: 'allerregular', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'allerregular', sans-serif !important;
}
.section-title {
	font-family: 'allerbold', sans-serif !important;
	text-transform:uppercase;
	font-size:30px;
	line-height: 22px;
}
.section-subtitle {
	font-family: 'aller_lightregular', sans-serif !important;
	text-transform:uppercase;
	font-size:18px;
	color:#e52424;
}

#site-navigation {
	overflow-x: hidden !important;
	width: 74%;

	&.center_on_responsive {
		width: 64%;
	}
}	

.header_title {
	color: #fff;

	a {
		color: #fff;
	}

	h1 {
		text-align: left;
		font-weight: 700;
	}
}

/* ------- Navbar ------- */
.navbar-inverse {
	background: #000;
}
.navbar-brand {
	padding: 0;
	margin-top: 13px;
}
.navbar-collapse {
	margin-right:20px !important;
}
.navbar-collapse .navbar-nav > li > a {
	font-family:'aller_lightregular', Tahoma, Geneva, sans-serif;
	color: #FFF !important;
	font-size: 16px;
	@extend .transition;

	&:hover {
		opacity: 0.7;
	}
}
.menu-icons {
	float:right;
	margin-top:18px;
	border-left:solid 1px #808080;
	padding-left:12px !important;
}
#icons-menu {
	margin:0;
	list-style:none !important;
	padding: 5px !important;
	float: left;
}

#icons-menu li {
	display:inline;
	
	margin-right:20px;
	float:left;
	
}
.menu-align-center .responsive-logo {
	width:auto;
}

/* ------- Section 1 - Big Banner ------- */
#big-banner {
	width:100%; 
	@extend .bgcover;
	position: relative;

	.sub-text {
		color: #fff;
		font-size: 36px;
	    margin-bottom: 0px;
		text-transform:uppercase;
	}
}
.home-header-wrap {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.header-content-wrap{
	padding:0;
	box-shadow: none;
	background:transparent !important;

	&.smallHeightViewport {
		.intro-text {
			font-size: 48px;
			line-height: 66px;
		}

		.sub-text {
			font-size: 28px !important;
		}
	}
}

.slide-item .overlay {
	width: 100%;
	height: 100%;
	background: rgba(black, 0.45);
}

.fadein-slider{
	position:absolute !important;
}

.zerif_video_background{
	position:absolute !important;
}

.intro-text {
	font-family: "aller_displayregular",sans-serif !important;
	font-size: 75px;
	padding: 20px 0 15px 0px;
	margin-top: 10px;
	color: #fff;
	// background: rgba(black, 0.45);
	line-height: 90px;
}

.buttons .custom-button{
	font-family: "aller_lightregular",Tahoma,Geneva,sans-serif;
	color: #FFF;
	font-size: 18px;
	padding: 5px 15px;
	text-transform:uppercase;
	border:2px solid #fff;
	background: transparent;
}

.buttons{
	margin-top:15px;
}

#big-banner .down-arrow {
    position: absolute;
    bottom: 20px;
    width: 100%;
    z-index: 9999;
}

/* ------- Footer ------- */
#footer {
    padding-top: 30px;
	padding-bottom:15px;
	background: #242424;

	.clients-wrap {
		margin-bottom: 40px;
	}
}

#footer .footer-widgets {
	border-bottom:#4d4d4d solid 1px;
	border-top:#4d4d4d solid 1px;
	margin-bottom: 20px;
	font-size:14px;
}

#footer .footer-widgets a {
	font-size:14px;
}

#footer .footer-widgets .footer-box-wrap  {    
    padding-top: 25px;
    padding-bottom: 25px;
}

.company-details {
	text-align:left;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 13px;
	color: #737373;
	display: flex;
    height: 40px;
	
	.icon-left {
		float: left;
		margin-right: 12px;
		align-self: center;
	}

	a {
		color: #737373;
		align-self: center;
	}

	img {
		max-width: none;
	}
}


#zerif-copyright {
	color:#737373;
	font-size: 14px;
}

.copyright {
    padding-top: 0px;
    padding-bottom: 0px;
    background: transparent;
	float: right;
	color: #737373;
	text-align: right;
}

.social {
	margin:0 !important;

	li {
		a {
			color: #737373;
		}
	}
}

/* ------- Section 2 - Home - Shop Categories ------- */
#shop_cats {
	background: url(../images/shop_cats_pattern.jpg);
	padding: 90px 0;

	.container {
		background: #fff;
		padding: 5px;
	}

	.tower,
	.box {
		border: 5px solid #fff;
		position: relative;
		display: block;
		background: #000;

		&:hover a.link {
			opacity: 0.8;
		}

		a.link {
			display: block;
			width: 100%;
			height: 100%;
			@extend .bgcover;
			background-position: center center;
			position: absolute;
		}

		h3 {
			position: absolute;
			z-index: 99;
			display: inline-block;
			font-family: 'aller_lightregular', sans-serif;
			font-size: 18px;
			text-transform: uppercase;
			color: #000;
			background: #fff;
			padding: 0 25px;
			height: 46px;
			line-height: 46px;
			left: 0;
			letter-spacing: -0.07em;
		}
	}

	.tower {
		width: 33.33%;
		float: left;
		height: 520px;

		h3 {
			bottom: 33px;
		}

		&.thirds {
			width: 476px;
		}

		&.alignright {
			float: right;
			margin: 0;
		}
	}

	.box {
		width: 33.33%;
		float: left;
		height: 260px;

		h3 {
			margin-top: 33px;
		}

		&.full {
			width: 100%;
			height: 320px;
		}

		&.half {
			width: 50%;
			height: 320px;
		}

		&.thirds {
			width: 474px;
		}
	}
}

.clearfix {
	clear: both;
}

.home_headline {
	width: 100%;
	margin-top: 45px;
	text-align: center;

	h3 {
		font-family: 'allerbold';
		font-size: 30px;
		margin-bottom: 5px;
		text-transform: uppercase;
	}

	h4 {
		font-family: 'aller_lightregular';
		font-size: 16px;
		color: #434343;
		margin-top: 0;
	}
}

.woocommerce,
#home_products {
	ul.products {
		li.product {
			float: left;
			height: auto;
			position: relative;
			padding-bottom: 40px;
			box-sizing: content-box;
			background: #fff;
			margin-bottom: 70px;

			.attachment-shop_catalog {
				margin: 0;
			}

			a {
				position: relative;
				display: block;

				&:hover {
					text-decoration: none;

					h3 {
						color: #e52424;
					}
				}
			}
			
			.onsale {
				z-index: 99;
			}

			.attachment-shop_catalog {
				max-width: 100%;
				max-height: 100%;
				display: block;
				position: relative;
				background: #efefef;
			}

			h3 {
				text-transform: uppercase;
				font-size: 16px;
				margin: 15px 0 10px 0;
				font-size: 16px;
				padding: 0;
				min-height: auto;
				font-weight: normal;
				line-height: 18px;
				color: #363636;
				@extend .transition;

			} 

			.price {
				width: 100%;
				text-align: center;
				font-size: 16px;
				color: #e52424;
				height: 18px;
				line-height: 18px;
				font-weight: normal;
				clear: both;
				min-height: auto;
				float: none;
				padding: 0;
				
				del {
					color: #ccc;
					display: inline;

					.amount {
						font-size: 12px;
						color: #ccc;
					}
				}	

				ins {
					background: transparent;
					display: inline;
					font-weight: normal;
				}
			}

			.add_to_cart_button,
			.added_to_cart {
				font-family: 'aller_lightregular';
				font-size: 14px;
				height: 30px;
				line-height: 32px;
				background: #333;
				width: 128px;
				margin: auto;
				left: 0; right: 0;
				color: #fff;
				text-transform: uppercase;
				bottom: 0;
				position: absolute;
				padding: 0;
				border-radius: 0;
				@extend .transition;

				&:hover {
					cursor: pointer;
					background: #e52424;
				}
			}

			.added_to_cart {
				z-index: 99;
			}
		}
	}
}

#home_products {
	width: 100%;
	background: #fff;
	overflow: hidden;
	
	.product {
		width: 31.55%;
		margin-top: 25px;
		overflow: hidden;
		margin-right: 2.5%;
		margin-bottom: 0;
		
		.add_to_cart_button,
		.added_to_cart {
			width: 108px;
		}

		.onsale {
			position: absolute;
			z-index: 999;
			padding: 2px 0 2px 8px;
			font-size: 13px;
			font-weight: 700;
			text-transform: uppercase;
			color: #fff;
			background: #e52424;
			display: block;
			top: 20px;
			left: 0;

			&:before {
				content: "";
				position: absolute;
				display: block;
				width:0;
				height:0;
				border: 11px solid #e52424;
				border-top-color: transparent;
				border-right-color: transparent;
				right: -22px;
				top: 0;
			}
		}

		&:nth-child(3n) {
			margin-right: 0;
		}
	}

	.left,
	.right {
		width: 50%;
		float: left;
		@extend .borderbox;
	}

	.left {
		padding: 0 4% 45px 4%;
	}

	.right {
		@extend .bgcover;
		height: 100%;
		background-position: center center;
	}
	
	ul {
		margin-left: 0;
		overflow: hidden;
	}

	.home_headline {
		h4 {
			font-family: 'aller_lightregular';
			font-size: 18px;
			color: #e52424;
			margin-top: 0;
			text-transform: uppercase;
		}
	}

	.viewallproducts {
		background: #e52424;
		font-size: 14px;
		height: 30px;
		line-height: 30px;
		text-transform: uppercase;
		text-align: center;
		padding: 0 14px;
		width: 170px;
		margin: 0 auto;
		color: #fff;
		margin-top: 35px;
		font-family: 'allerbold';
		display: block;
		@extend .transition;

		&:hover {
			cursor: pointer;
			background: #333;
			text-decoration: none;
		}
	}
}

#newsletter_section {

	form {
		width: 45.3%;
		margin: auto;
		margin-top: 30px;
		margin-bottom: 60px;
		overflow: hidden;
	}

	input {
		height: 40px;
		font-family: 'allerregular', sans-serif;
		line-height: 40px;
		border-radius: 5px;
		font-size: 16px;
		@extend .transition;
	}

	input[type="text"],
	input[type="email"] {
		float: left;
		width: 60%;
		border: 1px solid #c8c8c8;
		color: #585858;
		padding: 0 7%;
		display: block;

		&:focus {
			border-color: #585858;
		}
	}	

	input[type="submit"] {
		float: right;
		width: 35%;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		background: #e52424;
		padding: 1px 0 0 0;
		margin: 0;

		&:hover {
			background: #585858;
		}
	}
}

#testimonials {
	background: #333;
	overflow: hidden;
	padding-bottom: 45px;

	.quote {
		display: none;
	}

	.home_headline {
		margin-left: 0;

		h3 {
			color: #f33b3b;
			font-family: 'allerregular', sans-serif;
		}

		h4 {
			color: #fff;
		}
	}

	.feedback-box {
		color: #909090;
		overflow: hidden;
		width: 100%;
		margin-top: 35px;
	}

	.message {
		line-height: 30px;
		font-size: 16px;
		width: 90%;
		font-family: 'aller_lightregular';
		margin-left: 5%;
	}
	
	.client {
		height: auto;
	}

	.client-info {
		width: 100%;
		text-align: center;
		padding-top: 0;
		margin-left: 0;

		.client-name {
			color: #f33b3b;
			font-size: 18px;
		}

		.client-company {
			font-style: italic;
			margin-bottom: 15px;
		}
	}

	.client-image {
		float: none;
		margin: 0 auto;
		overflow: hidden;

		img {
			display: block;
		}
	}
	
	.owl-pagination {
		width: 100%;
		text-align: center;
		height: 12px;
		margin-top: 45px;
	}

	.owl-page {
		width: 12px;
		height: 12px;
		background: #3D3D3D;
		border-radius: 50%;
		display: inline-block;
		margin: 0 3px;
		@extend .transition;

		&.active {
			background: #4E4E4E
		}

		&:hover {
			opacity: 0.6;
		}
	}
}

#contact {
	background: #fff;

	&.contact-us {
		padding: 45px 0;

		input {
			box-shadow: none;
			border: 1px solid #ccc !important;
		}
	}

	input,
	textarea {
		color: #585858;

		&:focus {
			border-color: #ccc;
		}
	}

	input,
	button,
	textarea {
		font-family: 'allerregular', sans-serif;
		font-size: 16px;
	}

	button,
	.btn-primary {
		background: #f33b3b;
		border-color: #f33b3b;
		@extend .transition;
		height: 42px;
		padding: 6px 16px;
		padding-top: 7px;

		&:hover {
			background: #fff;
			color: #f33b3b;
		}
	}
	
	.home_headline {
		margin-bottom: 45px;
		color: #272727;
	}
}

#home_blog {
	background: url(../images/shop_cats_pattern.jpg);
	padding: 45px 0 95px 0;
	
	.items_with_navigation {
		position: relative;
	}

	.prev_posts,
	.next_posts {
		width: 16px;
		height: 26px;
		position: absolute;
		margin: auto;
		z-index: 99;
		top: 0; bottom: 0;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		@extend .transition;

		&:hover {
			opacity: 0.8;
			cursor: pointer;
		}
	}

	.prev_posts {
		background: url(../images/blog_prev.png);
		left: -27px;

		&:hover {
			left: -30px;
		}
	}

	.next_posts {
		background: url(../images/blog_next.png);
		right: -27px;

		&:hover {
			right: -30px;
		}
	}

	.home_headline {
		margin-bottom: 30px;
	}
	
	.wide {
		.post,
		.owl-item {
			width: 100% !important;
			margin: 0 !important;
		}
		
	}
	.post {
		width: 96.6%;
		margin: 0 1.8%;
		background: #fff;
		padding: 8px;
		float: left;
		@extend .borderbox;
		text-align: left;
		color: #595959;
		overflow: hidden;
		padding-bottom: 45px;

		figure {
			height: 250px;
			width: 100%;
			display: block;
			@extend .bgcover;

			a {
				display: block;
				width: 100%;
				height: 100%;
			}
		}

		a.title {
			font-size: 18px;
			text-transform: uppercase;
			color: #f33b3b;
			margin: 20px 0;
			display: block;
			padding: 0 2.5%;

			&:hover {
				color: #333;
			}
		}

		time {
			width: 95%;
			display: block;
			height: 38px;
			line-height: 38px;
			border: 1px solid #ddd;
			border-left: none;
			border-right: none;
			font-style: italic;
			margin: 0 2.5% 20px 2.5%;
			font-size: 14px;
		}

		.excerpt {
			line-height: 24px;
			margin-bottom: 10px;
			padding: 0 2.8%;

			p {
				font-size: 14px;
				margin-bottom: 0;
			}
		}

		a.readmore {
			color: #f33b3b;
			font-size: 14px;
			text-transform: capitalize;
			font-style: italic;
			margin-left: 2.8%;
			display: block;
			margin-bottom: 18px;
			overflow: hidden;
		}
	}
}

#focus {
	background: #fefefe;

	&.focus {
		padding-bottom: 50px;
	}
}

#works {
	background: url(../images/shop_cats_pattern.jpg);

	&.works {
		padding-bottom: 50px;
		min-height: auto;
	}

	.cbp-rfgrid {
		background: #fff;
		border: 5px solid #fff;	
		overflow: hidden;
	}

	.red-border-bottom:before {
		background: #e52424;
	}

}

#aboutus {
	&.about-us {
		padding-bottom: 50px;

		.column {
			margin-bottom: 0;
		}
	}
}

.our-team .row > div:nth-child(4n+1) .red-border-bottom:before { background: #F33B3B; }
.our-team .row > div:nth-child(4n+2) .red-border-bottom:before { background: #2CC457; }
.our-team .row > div:nth-child(4n+3) .red-border-bottom:before { background: #454CC4; }
.our-team .row > div:nth-child(4n+4) .red-border-bottom:before { background: #C4A01B; }

.focus, .works, .about-us, .features, .packages, .products, .testimonial, .contact-us, .our-team {
	padding-top: 50px;

	.home_headline {
		margin-top: 0;

		h3 {
			margin-top: 0;
		}

		h4 {
			margin-bottom: 50px;
		}
	}
}


.purchase-now {
	background: #F33B3B;

	.btn-primary {
		border-color: #fff;
		background: #F33B3B;

		&:hover {
			background: rgba(black, 0.08);
		}
	}
}

#ribbon_bottom {
	&.separator-one {
		background: #2CC457;

	}

	.btn-primary {
		border-color: #fff;
		background: #2CC457;

		&:hover {
			background: rgba(black, 0.08);
		}
	}
}

#pricingtable {
	background: #272727;
	
	.custom-button {
		border: none;
	}
}

#wide_header {
	width: 100%;
	height: 440px;
	position: relative;
	text-align: center;
	color: #fff;
	@extend .bgcover;
	background-attachment: fixed;

	.overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 2;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.15+0,0.44+100 */
		background: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.6) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#70000000',GradientType=0 ); /* IE6-9 */
	}
	
	.container {
		position: absolute;
		bottom: 40px;
		overflow: hidden;
		margin: auto;
		left: 0; right: 0;
		z-index: 3;
	}

	.title {
		font-family: 'aller_displayregular', Arial, sans-serif;
		font-size: 76px;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	p {
		font-size: 18px;
		font-family: 'aller_lightregular', sans-serif;
		line-height: 24px;
	}
}

.entry-title:before,
.listpost-content-wrap .entry-title a:after {
	display: none;
}

article.post {
	border-bottom: 1px solid #e9e9e9;
}

.widget_search,
.widget_product_search {
	label {
		font-weight: normal;
	}

	input[type=search] {
		border: 1px solid #c8c8c8;
		border-radius: 17px;
		height: 46px;
		line-height: 46px;
		font-size: 14px;
		width: 100%;
		padding-left: 15px;
		color: #585858;
	}

	input[type=submit] {
		background: url(../images/search_icon.png) no-repeat center center !important;
		margin-top: 0 !important;
		height: 46px !important;
		line-height: 46px;
	}
}

.sidebar-wrap {
	border-left: 1px solid #e9e9e9;
	
	.widget {
		margin-bottom: 60px;
		
		.widget-title {
			margin: 0 0 20px 0;

			&:before {
				display: none;
			}
		}

		input[type=text],
		input[type=email] {
			width: 100%;
			border: 1px solid #c8c8c8;
			border-radius: 4px;
		}

		input[type=submit] {
			background: #F33B3B;
			border-radius: 4px;
			color: #fff;
			text-transform: uppercase;
			height: 40px;
			line-height: 40px;
			margin-top: 12px;
		}

		ul {
			li {
				position: relative;
				padding-right: 0;
				border-bottom: 1px dashed #d0d0d0;
				margin: 0;
				padding: 15px;

				a {
					line-height: 18px;
				}

				&:before {
					content: '';
					position: absolute;
					background: #ed2d2d;
					width: 6px;
					height: 6px;
					left: 0;
					margin: auto;
					top: 0; bottom: 0;
				}
			}
		}
	}
}

.entry-meta {
    font-family: 'alleritalic';
	font-style: italic;

	time {
		color: #404040;
	}

	a.author-link {
		color: #F33B3B;
	}
}

.entry-title a {
	font-size: 18px;
	text-transform: uppercase;

	&:hover {
		text-decoration: none;
		color: #F33B3B;
	}
}

.entry-content {
	.readmore {
    	font-family: 'alleritalic';
		font-style: italic;
		color: #F33B3B;
		font-size: 13px;
	}
}

#breadcrumb {
	width: 100%;
	background: url(../images/shop_cats_pattern.jpg);
	height: 55px;
	line-height: 55px;
	text-align: center;

	a {
		display: inline-block;
		font-size: 16px;
		color: #363636;
		padding: 0 13px;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			left: -6px;
			width: 13px;
			height: 13px;
			background: url(../images/breadcrumb_arrow.jpg) no-repeat;
			top: 0; bottom: 0;
			margin: auto;
		}

		&:first-of-type {
			&:before {
				display: none;
			}
		}
	}
}

.content-left-wrap {
	padding-top: 45px;
}

.sidebar-wrap.content-left-wrap {
	margin-top: 45px;
}

.site-main .post-navigation {
	min-height: 56px;
	padding: 17px 12px;
	background: #f4f4f4;

	a {
		color: #595959;

		&:hover {
			color: #F33B3B;
		}
	}

	.nav-previous, 
	.nav-next {
	}
}

.single-post .post {
	border: none;
	padding-bottom: 0;

	.entry-title {
		margin-top: 0;
	}

	.featured {
		width: 100%;
		height: 320px;
		background-position: center center;
		margin-top: 20px;
		@extend .bgcover;
	}
}

#comments {

	.comments-title,
	#reply-title {
		font-size: 18px;
		text-transform: uppercase;
	}

	a {
		color: #ed2d2d;
	}

	.comment-metadata a {
		color: #595959;
	}

	.comment-form #submit, .comment-reply-link {
		background: #ed2d2d;
	}

	input#submit {
		float: right;
		margin-right: 0;
		padding: 0 20px;
		height: 40px;
		line-height: 40px;
		margin-bottom: 45px;
		border: 1px solid #ed2d2d;
		@extend .transition;
	
		&:hover {
			background: transparent;
			color: #ed2d2d !important;
		}
	}

	.comment-form-url,
	label {
		display: none;
	}

	.comment-notes,
	.comment-notes span {
		font-size: 14px;
	}

	input[type="email"],
	input[type="text"] {
		color: #595959;
		height: 38px;
		line-height: 38px;
		float: left;
		border: 1px solid #c8c8c8;
		padding: 0 10px 0 44px;
		font-size: 13px;
		width: 49.2%;

		&::-webkit-input-placeholder {
			color: #595959;
		}

		&:-moz-placeholder {
			color: #595959;
		}

		&:-ms-input-placeholder {
			color: #595959;
		}

		&::-moz-placeholder {
			color: #595959;
		}
	}

	input[type="text"] {
		margin-right: 10px;
		background: url(../images/user_icon.jpg) no-repeat 13px center;
	}

	input[type="email"] {
		background: url(../images/email_icon.jpg) no-repeat 13px center;
	}

	textarea {
		margin-top: 10px;
		border: 1px solid #c8c8c8;
		border-radius: 0;
		font-size: 13px;
		color: #595959;
		background: url(../images/comment_icon.jpg) no-repeat 13px 13px;
		padding: 13px;
	}

	input:focus,
	textarea:focus {
		border-color: #999;
	}
}

.page-header {
	padding: 0;
	margin: 0 0 20px 0;

	.page-title {
		margin-top: 0;
		text-transform: uppercase;
		font-size: 28px;
		font-family: 'allerbold';

		span {
			font-size: 28px;
			font-family: 'aller_lightregular';
		}

		&:before {
			display: none;
		}
	}
}

.woocommerce-page {
	.woocommerce-ordering {
		float: left;
	}

	.site-search {
		float: right;
		width: 33%;
		position: relative;
	
		.widget_product_search {
			position: relative;
		}

		input[type=submit] {
			text-indent: -99999999999px;
			position: absolute;
			right: 5px;
			top: 0;
		}
	}
}

.woocommerce-pagination {
	ul li {

		a {
			border-radius: 0;
			color: #333;
		}

		span.page-numbers {
			background: #e52424 !important;
			color: #fff;
		}
	}
}
.woocommerce #content nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce-page #content nav.woocommerce-pagination ul li span.current, .woocommerce-page nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce-page nav.woocommerce-pagination ul li a:hover, .woocommerce-page #content nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce #content nav.woocommerce-pagination ul li a:hover {
	background: #e52424 !important;
}

#popular_products {
	background: url(../images/shop_cats_pattern.jpg);
	padding-bottom: 40px;
	
	.woocommerce.columns-4 {
		margin-top: 0;
	}

	.home_headline {
		margin-bottom: 40px;

		h3 {
			margin-top: 0;
		}
	}

	ul.products {
		background: #fff;
		padding: 40px !important;
		margin-top: 0;
		padding-bottom: 0;

		li.product {
			margin-bottom: 0;
			padding-bottom: 0;

			.add_to_cart_button,
			.added_to_cart  {
				display: none !important;
			}

			.price,
			.ammount {
				color: #333;
			}
		}
	}
}

.woocommerce div.product {
	.product_title {
    	font-family: 'aller_lightregular' !important;
		font-size: 24px;
		text-transform: uppercase;
		padding: 20px 0;
		border-top: 1px solid #e8e8e8;
		border-bottom: 1px solid #e8e8e8;
		margin-bottom: 20px;
	}

	.entry-summary {
		padding-left: 3%;
	}

	p.price {
		width: 30%;
		float: left;
		font-family: 'aller_lightregular' !important;
		font-size: 24px !important;
		text-transform: uppercase;
		padding: 0;

		span {
			font-family: 'aller_lightregular' !important;
			font-size: 24px !important;
		}
	}

	form.cart {
		float: right;
		clear: none;
		display: block;
		width: 60%;

		div.quantity,
		.single_add_to_cart_button {
			float: right;
		}

		.single_add_to_cart_button {
			font-family: 'aller_lightregular';
			font-size: 14px;
			height: 30px;
			line-height: 32px;
			background: #e52424;
			width: 128px;
			color: #fff;
			text-transform: uppercase;
			border-radius: 0;
			padding: 0;
			@extend .transition;
			margin: 0;
			margin-right: 10px;

			&:hover {
				cursor: pointer;
				background: #333;
			}
		}
	}

	div[itemprop="description"] {
		margin-top: 15px;
		font-family: 'Open sans';
		color: #747474;

		p {
			font-size: 14px;
		}
	}

	.product_meta {
		width: 100%;
		font-family: 'Open sans';

		> span {
			width: 100%;
			display: block;
			font-size: 14px;

			span {
				font-size: 14px;
			}
		}

		a {
			font-size: 14px;
			color: #e52424;
		}
	}

	.woocommerce-tabs .tabs {
		border-bottom: none !important;

		li {
			float: left;
			font-family: 'Open sans';
			border: 1px solid #ccc !important;
			font-size: 14px; 
			margin-right: 10px !important;
			border-radius: 0 !important;
			margin-bottom: 5px !important;
			margin-left: 0 !important;

			&.reviews_tab {
				a {
					color: #e52424;
				}
			}

			&.active {
				background: #3b3b3b !important;
				border: 1px solid #3b3b3b !important;

				a {
					color: #e8e8e8 !important;
				}
			}

			a {
				font-weight: normal !important;
				font-size: 14px;
			}
		}
	}
}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
	width: 52%;
}
/*---------------------------------------
 **   Responsive  -----  MEDIA QUERIES
-----------------------------------------*/
@import 'responsive';
